// Import our color palette from the `aurora-palettes` module.
@import "../node_modules/aurora-palettes/src/aurora";

/**
 * CSS Custom Properties for Aurora theme.
 */
.t-aurora {
  --background-color: white;
  --border-color: #{$aurora-gray-40};
  --color: #{$aurora-gray-70};
  
  --background-color-brand: #{$aurora-green-20};
  --border-color-brand: #{$aurora-green-60};
  --color-brand: #{$aurora-green-70};
  
  --background-color-accent: #{$aurora-purple-30};
  --border-color-accent: #{$aurora-purple-70};
  --color-accent: #{$aurora-purple-80};
  
  --background-color-error: #f0e0e8;
  --border-color-error: #F03040;
  --color-error: #F03040;
}

/**
 * CSS Custom Properties for Aurora theme in dark mode.
 */
.t-aurora.is-dark {
  --background-color: #{$aurora-gray-80};
  --border-color: #{$aurora-gray-50};
  --color: #{$aurora-gray-10};
  
  --background-color-error: #4e3038;
  --border-color-error: #C05060;
  --color-error: white;
}

/**
 * Sets some properties making it easier to nest themes. Use responsibly!
 */
.t-aurora.has-overrides {
  background-color: var(--background-color);
  color: var(--color);
}