// Import our color palette from the `aurora-palettes` module.
@import "../node_modules/aurora-palettes/src/aurora";

/**
 * Aurora Theme
 * ====
 * All themes must override the variables seen here. If these variables are not
 * overridden it may have unexpected effects.
 */

/**
 * CSS Custom Properties for Aurora theme.
 */
.t-aurora {
  /**
   * Default colors.
   */
  --background-color: hsl(220, 12.5%, 95%);
  --background-color-action: hsl(220, 12.5%, 87.5%);
  --background-color-disabled: #{$aurora-gray-30};
  
  --border-color: hsl(220, 12.5%, 68.75%);
  --border-color-action: #{$aurora-gray-50};
  --border-color-disabled: #{$aurora-gray-50};
  
  --color: hsl(220, 15%, 25%);
  --color-action: hsl(220, 15%, 15%);
  --color-disabled: #{$aurora-gray-80};
  
  --separator: hsl(220, 12.5%, 90%);
  
  /**
   * Accent colors.
   */
  --background-color-accent: hsl(260, 50%, 75%);
  --background-color-accent-action: hsl(260, 50%, 75%);
  --border-color-accent: hsl(260, 75%, 50%);
  --color-accent: hsl(260, 75%, 25%);
  
  /**
   * Brand colors.
   */
  --background-color-brand: hsl(170, 50%, 60%);
  --background-color-brand-action: hsl(170, 50%, 50%);

  --border-color-brand: hsl(170, 50%, 37.5%);
  --color-brand: hsl(170, 50%, 12.5%);
}

/**
 * CSS Custom Properties for Aurora theme in dark mode.
 */
.t-aurora.is-dark {
  --background-color: hsl(220, 20%, 15%);
  --border-color: hsl(220, 20%, 45%);
  --color: hsl(220, 20%, 90%);
}

/**
 * Overrides `background-color` and `color` if theme can't be set on the `html`
 * element. It is recommended to use `.c-section` in conjunction with theme
 * classes to set these colors (especially with nesting themes).
 */
.t-aurora.is-root {
  background-color: var(--background-color);
  color: var(--color);
}