// Import our color palette from the `aurora-palettes` module.
@import "../node_modules/aurora-palettes/src/civics360";

/**
 * CSS Custom Properties for Civics360 theme.
 */
.t-civics360 {
  --background-color: #{$civics360-gray-10};
  --border-color: #{$civics360-gray-50};
  --color: #{$civics360-gray-90};
  
  --background-color-brand: #{$civics360-blue-60};
  --border-color-brand: #{$civics360-blue-20};
  --color-brand: #{$civics360-blue-10};
  
  --background-color-accent: #{$civics360-red-60};
  --border-color-accent: #{$civics360-red-20};
  --color-accent: #{$civics360-red-10};
}

/**
* CSS Custom Properties for Civics360 theme dark mode.
*/
.t-civics360.is-dark {
  --background-color: #{$civics360-gray-90};
  --border-color: #{$civics360-gray-50};
  --color: #{$civics360-gray-10};
}
