.t-super-nintendo {
  --input-background-color: transparent;
  --input-border-color: var(--border-color-component);
  --input-color: var(--color-component);
  
  --input-background-color-error: transparent;
  --input-border-color-error: var(--border-color-error);
  --input-color-error: inherit;
}