.t-super-nintendo {
  --list-item-border-color: var(--border-color-component);
  --list-item-background-color-hover: #{$super-nintendo-gray-20};
  --list-item-color-hover: #{$super-nintendo-gray-120};
}