@import "../../node_modules/@lou-frey-institute/aurora-palettes/src/super-nintendo";

.t-super-nintendo {
  --page-background-color: #{$super-nintendo-gray-20};
  --page-border-color: #{$super-nintendo-gray-30};
  --page-text-color: #{$super-nintendo-gray-120};

  --container-background-color: #{$super-nintendo-gray-10};
  --container-border-color: #{$super-nintendo-gray-30};
  --container-text-color: #{$super-nintendo-gray-110};
  
  --component-background-color: #{$super-nintendo-gray-120};
  --component-border-color:  #{$super-nintendo-gray-140};
  --component-text-color: #{$super-nintendo-gray-20};
  
  --brand-background-color: #{$super-nintendo-purple-70};
  --brand-border-color:  #{$super-nintendo-purple-90};
  --brand-text-color:  #{$super-nintendo-purple-10};
  
  --accent-background-color: #{$super-nintendo-indigo-40};
  --accent-border-color: #{$super-nintendo-indigo-60};
  --accent-text-color: #{$super-nintendo-indigo-100};
  
  --disabled-background-color: #{$super-nintendo-gray-20};
  --disabled-border-color:  #{$super-nintendo-gray-40};
  --disabled-text-color:  #{$super-nintendo-gray-60};
}

// CSS Custom Properties for Super Nintendo theme in dark mode.
.t-super-nintendo.is-dark {
  --page-background-color: #{$super-nintendo-gray-140};
  --page-border-color: #{$super-nintendo-gray-130};
  --page-text-color: #{$super-nintendo-gray-40};
  
  --container-background-color: #{$super-nintendo-gray-130};
  --container-border-color: #{$super-nintendo-gray-120};
  --container-text-color: #{$super-nintendo-gray-30};

  --component-background-color: #{$super-nintendo-gray-20};
  --component-border-color: #{$super-nintendo-gray-40};
  --component-text-color: #{$super-nintendo-gray-120};

  --disabled-background-color: #{$super-nintendo-gray-120};
  --disabled-border-color: #{$super-nintendo-gray-100};
  --disabled-text-color: #{$super-nintendo-gray-80};
}

// Overrides `background-color` and `color` if theme can't be set on the `html`
// element.
.t-super-nintendo.has-overrides {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}
