// Borealis Notification Variables

.t-aurora-borealis {
  --notification-background-color: var(--background-color-component);
  --notification-border-color: var(--border-color-component);
  --notification-color: var(--color-component);
  
  --notification-background-color-error: var(--background-color-error);
  --notification-border-color-error: transparent;
  --notification-color-error: var(--color-error);
  
  --notification-background-color-info: var(--background-color-info);
  --notification-border-color-info: transparent;
  --notification-color-info: var(--color-info);
  
  --notification-background-color-success: var(--background-color-success);
  --notification-border-color-success: transparent;
  --notification-color-success: var(--color-success);
  
  --notification-background-color-warning: var(--background-color-warning);
  --notification-border-color-warning: transparent;
  --notification-color-warning: var(--color-warning);
  
}