.o-container {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .o-container {
    max-width: 640px;
  }

  .o-container.is-large {
    max-width: 960px;
  }

  .o-container.is-small {
    max-width: 480px;
  }
}