/**
 * Layout styles.
 */
.o-layout {
  display: flex;
}

.o-layout.is-aligned-bottom {
  align-items: flex-end;
}

.o-layout.is-aligned-center {
  align-items: center;
}

.o-layout.is-aligned-top {
  align-items: flex-start;
}

.o-layout.is-horizontal {
  flex-direction: row;
}

.o-layout.is-vertical {
  flex-direction: column;
}

/**
 * Layout item styles.
 */
.o-layout-item {
  min-width: 0;
}

.o-layout-item.is-fill {
  flex: 1;
}

// Styles at small media.
@media all and (max-width: 640px) {
  .o-layout {
    flex-wrap: wrap;
  }
  
  .o-layout-item {
    flex: none;
    width: 100%;
  }
  
  .o-layout-item.is-fill {
    flex: none;
  }
}