.o-layout {
  display: flex;
}

.o-layout.is-aligned-bottom {
  align-items: flex-end;
}

.o-layout.is-aligned-center {
  align-items: center;
}

.o-layout.is-horizontal {
  flex-direction: row;
}

.o-layout.is-vertical {
  flex-direction: column;
}

  .o-layout-item { }

  .o-layout-item.is-fill {
    flex: 1;
  }

.is-one-half {
  width: 50%;
}