// Aurora Button CSS Properties
//
// Custom variables for buttons while using the Aurora theme. If you use nested
// themes you should override the same variables in each theme to prevent
// unwanted inheritance.

.t-aurora {
  // Button background colors.
  --button-background-color: var(--background-color-default);
  --button-background-color-action: var(--background-color-default-action);
  --button-background-color-accent: var(--background-color-accent);
  --button-background-color-accent-action: var(--background-color-accent-action);
  --button-background-color-brand: var(--background-color-brand);
  --button-background-color-brand-action: var(--background-color-brand-action);
  --button-background-color-disabled: var(--background-color-disabled);
  
  // Button border colors.
  --button-border-color: transparent;
  --button-border-color-action: transparent;
  --button-border-color-accent: transparent;
  --button-border-color-accent-action: transparent;
  --button-border-color-brand: transparent;
  --button-border-color-brand-action: transparent;
  --button-border-color-disabled: transparent;
  
  // Button text colors.
  --button-color: var(--color-default);
  --button-color-action: var(--color-default-action);
  --button-color-accent: var(--color-accent);
  --button-color-accent-action: var(--color-accent-action);
  --button-color-brand: var(--color-brand);
  --button-color-brand-action: var(--color-brand-action);
  --button-color-disabled: var(--color-disabled);
}

// You can customize how buttons appear in `dark` mode.
//
// .t-aurora.is-dark {
//   --button-background-color: red; // Yuck!
// }

// You can also add other variations as you see fit.
//
// .t-aurora.has-funky-borders {
//   --button-border-color: #f030f0;
//   --button-border-style: dashed;
// }