.t-aurora {
  --card-background-color: var(--background-color);
  --card-background-color-accent: var(--background-color-accent);
  --card-background-color-brand: var(--background-color-brand);
  
  --card-color: var(--color);
  --card-color-accent: var(--color-accent);
  --card-color-brand: var(--color-brand);
  
  --card-border-color: transparent;
  --card-border-color-accent: transparent;
  --card-border-color-brand: transparent;
}