.t-aurora {
  --input-background-color: var(--background-color-default);
  --input-border-color: transparent;
  --input-color: var(--color-default);
  
  --input-background-color-error: var(--background-color-error);
  --input-border-color-error: transparent;
  --input-color-error: var(--color-error);
}