//      ██                                             
//     ████                                            
//    ██░░██   ██   ██ ██████  ██████  ██████  ██████  
//   ██  ░░██ ░██  ░██░░██░░█ ██░░░░██░░██░░█ ░░░░░░██ 
//  ██████████░██  ░██ ░██ ░ ░██   ░██ ░██ ░   ███████ 
// ░██░░░░░░██░██  ░██ ░██   ░██   ░██ ░██    ██░░░░██ 
// ░██     ░██░░██████░███   ░░██████ ░███   ░░████████
// ░░      ░░  ░░░░░░ ░░░     ░░░░░░  ░░░     ░░░░░░░░ 
//
// You can use this theme as the foundation for creating new themes. All
// variables used here must be overriden or it will use the parent theme's.
// If it is the parent theme then it will use the defaults given to Sass.
//
// If you don't want to use nested themes you can throw everything into `:root`
// and not worry about overriding.

// Import our color palette from the `aurora-palettes` module.
@import "../../node_modules/aurora-palettes/src/aurora";

// CSS variables for Aurora theme.
.t-aurora {
  // Body
  --background-color-body: #{$aurora-gray-10};
  --border-color-body: #{$aurora-gray-20};
  --color-body: #{$aurora-gray-110};
  
  // Component
  --background-color-component: #{white};
  --border-color-component:  #{$aurora-gray-20};
  --color-component: #{$aurora-gray-120};
  
  // Brand
  --background-color-brand: #{$aurora-green-60};
  --border-color-brand:  #{$aurora-green-70};
  --color-brand:  #{$aurora-green-140};
  
  // Accent
  --background-color-accent: #{$aurora-purple-30};
  --border-color-accent: #{$aurora-purple-40};
  --color-accent: #{$aurora-purple-80};
  
  // Disabled
  --background-color-disabled: rgba(32, 32, 64, 0.08);
  --border-color-disabled: rgba(32, 32, 64, 0.16);
  --color-disabled: rgba(32, 32, 64, 0.32);
}
// // CSS variables for Aurora theme.
// .t-aurora {
//   // Body
//   --background-color-body: #f7f8f9;
//   --border-color-body: #e0e2e4;
//   --color-body: #404040;
// 
//   // Component
//   --background-color-component: #{white};
//   --border-color-component:  #dadadf;
//   --color-component: #404040;
// 
//   // Brand
//   --background-color-brand: #10d0a0;
//   --border-color-brand:  #109060;
//   --color-brand:  #103010;
// 
//   // Accent
//   --background-color-accent: #6880f8;
//   --border-color-accent: #2840b8;
//   --color-accent: #101048;
// 
//   // Disabled
//   --background-color-disabled: rgba(32, 32, 64, 0.08);
//   --border-color-disabled: rgba(32, 32, 64, 0.16);
//   --color-disabled: rgba(32, 32, 64, 0.32);
// }

// CSS Custom Properties for Aurora theme in dark mode.
.t-aurora.is-dark {
  // Body
  --background-color-body: #{$aurora-gray-150};
  --border-color-body: #{$aurora-gray-140};
  --color-body: #{$aurora-gray-50};

  // Component
  --background-color-component: #{$aurora-gray-140};
  --border-color-component: #{$aurora-gray-130};
  --color-component: #{$aurora-gray-40};

  // Disabled
  --background-color-disabled: rgba(208, 208, 240, 0.08);
  --border-color-disabled: rgba(208, 208, 240, 0.16);
  --color-disabled: rgba(208, 208, 240, 0.32);
}
// 
// // CSS Custom Properties for Aurora theme in dark mode.
// .t-aurora.is-dark {
//   // Body
//   --background-color-body: #282838;
//   --border-color-body: #383848;
//   --color-body: #c0c0d8;
// 
//   // Component
//   --background-color-component: #303244;
//   --border-color-component: #505060;
//   --color-component: #f0f0f8;
// 
//   // Disabled
//   --background-color-disabled: rgba(208, 208, 240, 0.08);
//   --border-color-disabled: rgba(208, 208, 240, 0.16);
//   --color-disabled: rgba(208, 208, 240, 0.32);
// }

// If you are using nested themes it is recommended to add a further level of
// CSS properties to prevent unwanted inheritance. These can be broken up into
// separate files (see below) or defined in a single file. You can even use
// plain CSS.
//
// An easy rule to follow is that any CSS property that is set should be defined
// in all other themes as well to prevent overriding each other when nested. As
// such you will usually only override colors and can generally leave spacing
// and typography variables alone.

// Import custom button CSS properties.
@import 'button';

// Import custom card CSS properties.
@import 'card';

// Import custom card CSS properties.
@import 'divider';

// Import custom input CSS properties.
@import 'input';

// Import custom menu CSS properties.
@import 'list-item';

// Import custom menu CSS properties.
@import 'menu';

// Import custom nav-bar CSS properties.
@import 'nav-bar';

// Import custom notification CSS properties.
@import 'notification';

// Import custom section CSS properties.
@import 'section';

// Import custom section CSS properties.
@import 'sidebar';

// Import custom tag CSS properties.
@import 'tag';


// Overrides `background-color` and `color` if theme can't be set on the `html`
// element. It is recommended to use `.c-section` in conjunction with theme
// classes to set these colors (especially with nesting themes) instead.
.t-aurora.has-overrides {
  background-color: var(--background-color-body);
  color: var(--color-body);
}
