// Civics360 Menu Variables
.t-civics360 {
  --menu-background-color: var(--background-color-component);
  --menu-border-color: var(--border-color-component);
  --menu-color: var(--color-component);
}