// Civics360 Tag Variables

.t-civics360 {
  --tag-background-color: var(--background-color-default);
  --tag-background-color-accent: var(--background-color-accent);
  --tag-background-color-brand: var(--background-color-brand);
  
  --tag-color: var(--color-default);
  --tag-color-accent: var(--color-accent);
  --tag-color-brand: var(--color-brand);
}