// Import our color palette from the `aurora-palettes` module.
@import "../../node_modules/aurora-palettes/src/civics360";

// CSS variables for Civics360 theme.
.t-civics360 {
  // Body
  --background-color-body: #{$civics360-gray-10};
  --border-color-body: #{$civics360-gray-20};
  --color-body: #{$civics360-gray-110};
  
  // Component
  --background-color-component: #{white};
  --border-color-component:  #{$civics360-gray-20};
  --color-component: #{$civics360-gray-110};
  
  // Brand
  --background-color-brand: #{$civics360-blue-80};
  --border-color-brand:  #{$civics360-blue-100};
  --color-brand:  #{$civics360-blue-10};
  
  // Accent
  --background-color-accent: #{$civics360-red-70};
  --border-color-accent: #{$civics360-red-90};
  --color-accent: #{$civics360-red-150};
  
  // Disabled
  --background-color-disabled: #{$civics360-gray-10};
  --border-color-disabled: #{$civics360-gray-30};
  --color-disabled: #{$civics360-gray-110};
}

// CSS Custom Properties for Civics360 theme in dark mode.
.t-civics360.is-dark {
  // Body
  --background-color-body: #{$civics360-gray-150};
  --border-color-body: #{$civics360-gray-140};
  --color-body: #{$civics360-gray-30};
  
  // Component
  --background-color-component: #{$civics360-gray-140};
  --border-color-component: #{$civics360-gray-130};
  --color-component: #{$civics360-gray-20};
  
  // Disabled
  --background-color-disabled: #{$civics360-gray-130};
  --border-color-disabled: #{$civics360-gray-110};
  --color-disabled: #{$civics360-gray-20};
}

// If you are using nested themes it is recommended to add a further level of
// CSS properties to prevent unwanted inheritance. These can be broken up into
// separate files (see below) or defined in a single file. You can even use
// plain CSS.
//
// An easy rule to follow is that any CSS property that is set should be defined
// in all other themes as well to prevent overriding each other when nested. As
// such you will usually only override colors and can generally leave spacing
// and typography variables alone.

// Import custom button CSS properties.
@import 'button';

// Import custom card CSS properties.
@import 'card';

// Import custom card CSS properties.
@import 'divider';

// Import custom input CSS properties.
@import 'input';

// Import custom menu CSS properties.
@import 'menu';

// Import custom nav-bar CSS properties.
@import 'nav-bar';

// Import custom notification CSS properties.
@import 'notification';

// Import custom overlay CSS properties.
@import 'overlay';

// Import custom section CSS properties.
@import 'section';

// Import custom section CSS properties.
@import 'sidebar';

// Import custom tag CSS properties.
@import 'tag';


// Overrides `background-color` and `color` if theme can't be set on the `html`
// element. It is recommended to use `.c-section` in conjunction with theme
// classes to set these colors (especially with nesting themes) instead.
.t-civics360.has-overrides {
  background-color: var(--background-color-body);
  color: var(--color-body);
}
