@import "../../node_modules/@lou-frey-institute/aurora-palettes/src/civics360";

.t-civics360 {
  --page-background-color: #f0f0f4;
  --page-border-color: #{mix(#f0f0f4, #505060, 90%)};
  --page-text-color: #505060;
  
  --container-background-color: #fff;
  --container-border-color: #{mix(#fff, #505060)};
  --container-text-color: #505060;
  
  --component-background-color: #505060;
  --component-border-color:  #{mix(#505060, #f0f0f4)};
  --component-text-color: #f0f0f4;
  
  --brand-background-color: #4868c0;
  --brand-border-color:  #{mix(#4868c0, #f0f4f8)};
  --brand-text-color:  #f0f4f8;
  
  --accent-background-color: #c83848;
  --accent-border-color: #{mix(#c83848, #ffffff)};
  --accent-text-color: #ffffff;
  
  --disabled-background-color: #f0f0f4;
  --disabled-border-color: #{mix(#f0f0f4, #b0b8c0)};
  --disabled-text-color: #b0b8c0;
}

.t-civics360.is-dark {
  --page-background-color: #202030;
  --page-border-color: #303040;
  --page-text-color: #d0d0e0;
  
  --container-background-color: #303040;
  --container-border-color: #404050;
  --container-text-color: #e0e0f0;
  
  --component-background-color: #e0e0f0;
  --component-border-color: #{mix(#e0e0f0, #404050)};
  --component-text-color: #404050;

  --disabled-background-color: #404050;
  --disabled-border-color: #{mix(#404050, #606070)};
  --disabled-text-color: #606070;
}

// Overrides `background-color` and `color` if theme can't be set on the `html`
// element.
.t-civics360.has-overrides {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}
