$border-radius: 2px;
$border-style: solid;
$border-width: 0.0625rem;

@if $enable-css-variables and $enable-root-css-variables {
  :root {
    --border-radius: #{$border-radius};
    --border-style: #{$border-style};
    --border-width: #{$border-width};
  }
}