// Map colors to variable patterns.

// Background colors.
$background-color: white !default;
$background-color-action: #e0e0e0 !default;
$background-color-accent: sandybrown !default;
$background-color-accent-action: $background-color-action !default;
$background-color-brand: dodgerblue !default;
$background-color-brand-action: $background-color-action !default;
$background-color-default: #384048 !default;
$background-color-default-action: #283038 !default;
$background-color-disabled: #e0e0e0 !default;
$background-color-error: salmon !default;
$background-color-error-action: $background-color-error !default;
$background-color-success: lightgreen !default;
$background-color-success-action: $background-color-success !default;
$background-color-warning: navajowhite !default;
$background-color-warning-action: $background-color-warning !default;

// Border colors.
$border-color: #101010 !default;
$border-color-action: $border-color !default;
$border-color-accent: $border-color !default;
$border-color-accent-action: $border-color !default;
$border-color-brand: $border-color !default;
$border-color-brand-action: $border-color !default;
$border-color-default: $border-color !default;
$border-color-default-action: $border-color !default;
$border-color-disabled: $border-color !default;
$border-color-error: #c03030 !default;
$border-color-error-action: $border-color !default;
$border-color-success: $border-color !default;
$border-color-success-action: $border-color !default;
$border-color-warning: $border-color !default;
$border-color-warning-action: $border-color !default;

// Text colors.
$color: rgba(32, 32, 64, 0.8) !default;
$color-action: $color !default;
$color-accent: $color !default;
$color-accent-action: $color !default;
$color-brand: $color !default;
$color-brand-action: $color !default;
$color-default: rgba(255, 255, 255, 0.8) !default;
$color-default-action: rgba(255, 255, 255, 0.9) !default;
$color-disabled: $background-color !default;
$color-error: rgba(64, 32, 32, 0.8) !default;
$color-error-action: $color-error !default;
$color-success: rgba(32, 64, 32, 0.8) !default;
$color-success-action: $color-success !default;
$color-warning: rgba(64, 32, 32, 0.8) !default;
$color-warning-action: $color-warning !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --background-color: #{$background-color};
    --background-color-action: #{$background-color-action};
    --background-color-accent: #{$background-color-accent};
    --background-color-accent-action: #{$background-color-accent-action};
    --background-color-brand: #{$background-color-brand};
    --background-color-brand-action: #{$background-color-brand-action};
    --background-color-default: #{$background-color-default};
    --background-color-default-action: #{$background-color-default-action};
    --background-color-disabled: #{$background-color-disabled};
    --background-color-error: #{$background-color-error};
    --background-color-error-action: #{$background-color-error-action};
    --background-color-success: #{$background-color-success};
    --background-color-success-action: #{$background-color-success-action};
    --background-color-warning: #{$background-color-warning};
    --background-color-warning-action: #{$background-color-warning-action};

    --border-color: #{$border-color};
    --border-color-action: #{$border-color-action};
    --border-color-accent: #{$border-color-accent};
    --border-color-accent-action: #{$border-color-accent-action};
    --border-color-brand: #{$border-color-brand};
    --border-color-brand-action: #{$border-color-brand-action};
    --border-color-default: #{$border-color-default};
    --border-color-default-action: #{$border-color-default-action};
    --border-color-disabled: #{$border-color-disabled};
    --border-color-error: #{$border-color-error};
    --border-color-error-action: #{$border-color-error-action};
    --border-color-success: #{$border-color-success};
    --border-color-success-action: #{$border-color-success-action};
    --border-color-warning: #{$border-color-warning};
    --border-color-warning-action: #{$border-color-warning-action};

    --color: #{$color};
    --color-action: #{$color-action};
    --color-accent: #{$color-accent};
    --color-accent-action: #{$color-accent-action};
    --color-brand: #{$color-brand};
    --color-brand-action: #{$color-brand-action};
    --color-default: #{$color-default};
    --color-default-action: #{$color-default-action};
    --color-disabled: #{$color-disabled};
    --color-error: #{$color-error};
    --color-error-action: #{$color-error-action};
    --color-success: #{$color-success};
    --color-success-action: #{$color-success-action};
    --color-warning: #{$color-warning};
    --color-warning-action: #{$color-warning-action};
  }
}
