// COLORS

// PAGE
$page-background-color: white !default;
$page-border-color: grey !default;
$page-text-color: black !default;

// CONTAINER
$container-background-color: white !default;
$container-border-color: grey !default;
$container-text-color: black !default;

// COMPONENT
$component-background-color: ghostwhite !default;
$component-border-color: gainsboro !default;
$component-text-color: darkslategrey !default;

// BRAND
$brand-background-color: lightseagreen !default;
$brand-border-color: darkseagreen !default;
$brand-text-color: darkgreen !default;

// ACCENT
$accent-background-color: steelblue !default;
$accent-border-color: darkslateblue !default;
$accent-text-color: white !default;

// DISABLED
$disabled-background-color: lightgrey !default;
$disabled-border-color: grey !default;
$disabled-text-color: darkgrey !default;

// ERROR
$error-background-color: crimson !default;
$error-border-color: darkred !default;
$error-text-color: white !default;

// INFO
$info-background-color: lightblue !default;
$info-border-color: darkblue !default;
$info-text-color: black !default;

// SUCCESS
$success-background-color: mediumturquoise !default;
$success-border-color: darkturquoise !default;
$success-text-color: black !default;

// WARNING
$warning-background-color: goldenrod !default;
$warning-border-color: darkgoldenrod !default;
$warning-text-color: black !default;

@if $enable-css-variables and $enable-root-css-variables {
  :root {
    // PAGE
    --page-background-color: #{$page-background-color};
    --page-border-color: #{$page-border-color};
    --page-text-color: #{$page-text-color};

    // COMPONENT
    --component-background-color: #{$component-background-color};
    --component-border-color: #{$component-border-color};
    --component-text-color: #{$component-text-color};

    // BRAND
    --brand-background-color: #{$brand-background-color};
    --brand-border-color: #{$brand-border-color};
    --brand-text-color: #{$brand-text-color};

    // ACCENT
    --accent-background-color: #{$accent-background-color};
    --accent-border-color: #{$accent-border-color};
    --accent-text-color: #{$accent-text-color};

    // DISABLED
    --disabled-background-color: #{$disabled-background-color};
    --disabled-border-color: #{$disabled-border-color};
    --disabled-text-color: #{$disabled-text-color};

    // ERROR
    --error-background-color: #{$error-background-color};
    --error-border-color: #{$error-border-color};
    --error-text-color: #{$error-text-color};

    // INFO
    --info-background-color: #{$info-background-color};
    --info-border-color: #{$info-border-color};
    --info-text-color: #{$info-text-color};

    // SUCCESS
    --success-background-color: #{$success-background-color};
    --success-border-color: #{$success-border-color};
    --success-text-color: #{$success-text-color};

    // WARNING
    --warning-background-color: #{$warning-background-color};
    --warning-border-color: #{$warning-border-color};
    --warning-text-color: #{$warning-text-color};
  }
}