/**
 * Font Stacks for monospaced, sans-serif and serif fonts.
 */
$font-family-mono:
  "SFMono-Regular",
  Consolas,
  "Liberation Mono",
  Menlo,
  Courier,
  monospace;
  
$font-family-sans:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif !default;

$font-family-serif:
  Georgia,
  Times,
  "Times New Roman",
  serif;

/**
 * Font sizes
 */
$font-size: $base-font-size;