// ..######..########.....###.....######..####.##....##..######..
// .##....##.##.....##...##.##...##....##..##..###...##.##....##.
// .##.......##.....##..##...##..##........##..####..##.##.......
// ..######..########..##.....##.##........##..##.##.##.##...####
// .......##.##........#########.##........##..##..####.##....##.
// .##....##.##........##.....##.##....##..##..##...###.##....##.
// ..######..##........##.....##..######..####.##....##..######..
//
// These variables set margins and padding across the theme. Most components
// will have custom padding and margins to override these.

$spacing-tiny: 4px !default;
$spacing-small: 8px !default;
$spacing: 16px !default;
$spacing-large: 24px !default;
$spacing-huge: 32px !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --spacing: #{$spacing};
    --spacing-tiny: #{$spacing-tiny};
    --spacing-small: #{$spacing-small};
    --spacing-large: #{$spacing-large};
    --spacing-huge: #{$spacing-huge};
  }
}