// Aurora
// Primarily green and turquoise colors with subtle blue and purples.

// Default 
$aurora-gray-10: #dedee6;
$aurora-gray-20: #bfbfd0;
$aurora-gray-30: #a3a3bc;
$aurora-gray-40: #8a8aaa;
$aurora-gray-50: #73739a;
$aurora-gray-60: #5e5e82;
$aurora-gray-70: #4b4b68;
$aurora-gray-80: #38384e;
$aurora-gray-90: #232331;

// Brand
$aurora-green-10: #bae7e7;
$aurora-green-20: #75cfcf;
$aurora-green-30: #3fb6b6;
$aurora-green-40: #369b9b;
$aurora-green-50: #2d8282;
$aurora-green-60: #256b6b;
$aurora-green-70: #1e5555;
$aurora-green-80: #163f3f;
$aurora-green-90: #0e2727;

// Accent
$aurora-purple-10: #ddddf3;
$aurora-purple-20: #bdbde8;
$aurora-purple-30: #a0a0de;
$aurora-purple-40: #8585d5;
$aurora-purple-50: #6c6ccd;
$aurora-purple-60: #5454c4;
$aurora-purple-70: #3e3eb3;
$aurora-purple-80: #2f2f88;
$aurora-purple-90: #1e1e58;
