@import "get-color";

// Aurora
// Primarily green and turquoise colors with subtle blue and purples.

// Default
$aurora-borealis-gray: #383840;
$aurora-borealis-gray-10: get-color($aurora-borealis-gray, 1);
$aurora-borealis-gray-20: get-color($aurora-borealis-gray, 2);
$aurora-borealis-gray-30: get-color($aurora-borealis-gray, 3);
$aurora-borealis-gray-40: get-color($aurora-borealis-gray, 4);
$aurora-borealis-gray-50: get-color($aurora-borealis-gray, 5);
$aurora-borealis-gray-60: get-color($aurora-borealis-gray, 6);
$aurora-borealis-gray-70: get-color($aurora-borealis-gray, 7);
$aurora-borealis-gray-80: get-color($aurora-borealis-gray, 8);
$aurora-borealis-gray-90: get-color($aurora-borealis-gray, 9);
$aurora-borealis-gray-100: get-color($aurora-borealis-gray, 10);
$aurora-borealis-gray-110: get-color($aurora-borealis-gray, 11);
$aurora-borealis-gray-120: get-color($aurora-borealis-gray, 12);
$aurora-borealis-gray-130: get-color($aurora-borealis-gray, 13);
$aurora-borealis-gray-140: get-color($aurora-borealis-gray, 14);
$aurora-borealis-gray-150: get-color($aurora-borealis-gray, 15);
$aurora-borealis-gray-160: get-color($aurora-borealis-gray, 16);

// Brand
$aurora-borealis-green: mediumseagreen;
$aurora-borealis-green-10: get-color($aurora-borealis-green, 1);
$aurora-borealis-green-20: get-color($aurora-borealis-green, 2);
$aurora-borealis-green-30: get-color($aurora-borealis-green, 3);
$aurora-borealis-green-40: get-color($aurora-borealis-green, 4);
$aurora-borealis-green-50: get-color($aurora-borealis-green, 5);
$aurora-borealis-green-60: get-color($aurora-borealis-green, 6);
$aurora-borealis-green-70: get-color($aurora-borealis-green, 7);
$aurora-borealis-green-80: get-color($aurora-borealis-green, 8);
$aurora-borealis-green-90: get-color($aurora-borealis-green, 9);
$aurora-borealis-green-100: get-color($aurora-borealis-green, 10);
$aurora-borealis-green-110: get-color($aurora-borealis-green, 11);
$aurora-borealis-green-120: get-color($aurora-borealis-green, 12);
$aurora-borealis-green-130: get-color($aurora-borealis-green, 13);
$aurora-borealis-green-140: get-color($aurora-borealis-green, 14);
$aurora-borealis-green-150: get-color($aurora-borealis-green, 15);
$aurora-borealis-green-160: get-color($aurora-borealis-green, 16);

// Accent
$aurora-borealis-purple: #a0a0de;
$aurora-borealis-purple-10: get-color($aurora-borealis-purple, 1);
$aurora-borealis-purple-20: get-color($aurora-borealis-purple, 2);
$aurora-borealis-purple-30: get-color($aurora-borealis-purple, 3);
$aurora-borealis-purple-40: get-color($aurora-borealis-purple, 4);
$aurora-borealis-purple-50: get-color($aurora-borealis-purple, 5);
$aurora-borealis-purple-60: get-color($aurora-borealis-purple, 6);
$aurora-borealis-purple-70: get-color($aurora-borealis-purple, 7);
$aurora-borealis-purple-80: get-color($aurora-borealis-purple, 8);
$aurora-borealis-purple-90: get-color($aurora-borealis-purple, 9);
$aurora-borealis-purple-100: get-color($aurora-borealis-purple, 10);
$aurora-borealis-purple-110: get-color($aurora-borealis-purple, 11);
$aurora-borealis-purple-120: get-color($aurora-borealis-purple, 12);
$aurora-borealis-purple-130: get-color($aurora-borealis-purple, 13);
$aurora-borealis-purple-140: get-color($aurora-borealis-purple, 14);
$aurora-borealis-purple-150: get-color($aurora-borealis-purple, 15);
$aurora-borealis-purple-160: get-color($aurora-borealis-purple, 16);
