// Civics360 Palette
// A combination of patriotic blue and red slightly dulled down.

// Default
$civics360-gray-10: #d7dee6;
$civics360-gray-20: #b3c1d0;
$civics360-gray-30: #92a7bc;
$civics360-gray-40: #748fab;
$civics360-gray-50: #5b7997;
$civics360-gray-60: #4c647d;
$civics360-gray-70: #3d5064;
$civics360-gray-80: #2e3c4b;
$civics360-gray-90: #1d2630;

// Brand
$civics360-blue-10: #dbdef3;
$civics360-blue-20: #b9bfe7;
$civics360-blue-30: #99a2dd;
$civics360-blue-40: #7d88d4;
$civics360-blue-50: #626fcb;
$civics360-blue-60: #4857c2;
$civics360-blue-70: #3744a4;
$civics360-blue-80: #2a337c;
$civics360-blue-90: #1b2150;

// Accent
$civics360-red-10: #ebd9d9;
$civics360-red-20: #dab7b7;
$civics360-red-30: #ca9898;
$civics360-red-40: #bc7b7b;
$civics360-red-50: #af5f5f;
$civics360-red-60: #964b4b;
$civics360-red-70: #783c3c;
$civics360-red-80: #5a2d2d;
$civics360-red-90: #391d1d;