// Civics360 Palette
// A combination of patriotic blue and red slightly dulled down.

@import "get-color";

// Aurora
// Primarily blue and turquoise colors with subtle blue and reds.

// Default
$civics360-gray: #405060;
$civics360-gray-10: get-color($civics360-gray, 1);
$civics360-gray-20: get-color($civics360-gray, 2);
$civics360-gray-30: get-color($civics360-gray, 3);
$civics360-gray-40: get-color($civics360-gray, 4);
$civics360-gray-50: get-color($civics360-gray, 5);
$civics360-gray-60: get-color($civics360-gray, 6);
$civics360-gray-70: get-color($civics360-gray, 7);
$civics360-gray-80: get-color($civics360-gray, 8);
$civics360-gray-90: get-color($civics360-gray, 9);
$civics360-gray-100: get-color($civics360-gray, 10);
$civics360-gray-110: get-color($civics360-gray, 11);
$civics360-gray-120: get-color($civics360-gray, 12);
$civics360-gray-130: get-color($civics360-gray, 13);
$civics360-gray-140: get-color($civics360-gray, 14);
$civics360-gray-150: get-color($civics360-gray, 15);
$civics360-gray-160: get-color($civics360-gray, 16);

// Brand
$civics360-blue: #3090f0;
$civics360-blue-10: get-color($civics360-blue, 1);
$civics360-blue-20: get-color($civics360-blue, 2);
$civics360-blue-30: get-color($civics360-blue, 3);
$civics360-blue-40: get-color($civics360-blue, 4);
$civics360-blue-50: get-color($civics360-blue, 5);
$civics360-blue-60: get-color($civics360-blue, 6);
$civics360-blue-70: get-color($civics360-blue, 7);
$civics360-blue-80: get-color($civics360-blue, 8);
$civics360-blue-90: get-color($civics360-blue, 9);
$civics360-blue-100: get-color($civics360-blue, 10);
$civics360-blue-110: get-color($civics360-blue, 11);
$civics360-blue-120: get-color($civics360-blue, 12);
$civics360-blue-130: get-color($civics360-blue, 13);
$civics360-blue-140: get-color($civics360-blue, 14);
$civics360-blue-150: get-color($civics360-blue, 15);
$civics360-blue-160: get-color($civics360-blue, 16);

// Accent
$civics360-red: #c02020;
$civics360-red-10: get-color($civics360-red, 1);
$civics360-red-20: get-color($civics360-red, 2);
$civics360-red-30: get-color($civics360-red, 3);
$civics360-red-40: get-color($civics360-red, 4);
$civics360-red-50: get-color($civics360-red, 5);
$civics360-red-60: get-color($civics360-red, 6);
$civics360-red-70: get-color($civics360-red, 7);
$civics360-red-80: get-color($civics360-red, 8);
$civics360-red-90: get-color($civics360-red, 9);
$civics360-red-100: get-color($civics360-red, 10);
$civics360-red-110: get-color($civics360-red, 11);
$civics360-red-120: get-color($civics360-red, 12);
$civics360-red-130: get-color($civics360-red, 13);
$civics360-red-140: get-color($civics360-red, 14);
$civics360-red-150: get-color($civics360-red, 15);
$civics360-red-160: get-color($civics360-red, 16);
