@import "get-color";

// Northern Lights
//
// A subtle blue theme.

// Default
$super-nintendo-gray: #cbcacd;
$super-nintendo-gray-10: get-color($super-nintendo-gray, 1);
$super-nintendo-gray-20: get-color($super-nintendo-gray, 2);
$super-nintendo-gray-30: get-color($super-nintendo-gray, 3);
$super-nintendo-gray-40: get-color($super-nintendo-gray, 4);
$super-nintendo-gray-50: get-color($super-nintendo-gray, 5);
$super-nintendo-gray-60: get-color($super-nintendo-gray, 6);
$super-nintendo-gray-70: get-color($super-nintendo-gray, 7);
$super-nintendo-gray-80: get-color($super-nintendo-gray, 8);
$super-nintendo-gray-90: get-color($super-nintendo-gray, 9);
$super-nintendo-gray-100: get-color($super-nintendo-gray, 10);
$super-nintendo-gray-110: get-color($super-nintendo-gray, 11);
$super-nintendo-gray-120: get-color($super-nintendo-gray, 12);
$super-nintendo-gray-130: get-color($super-nintendo-gray, 13);
$super-nintendo-gray-140: get-color($super-nintendo-gray, 14);
$super-nintendo-gray-150: get-color($super-nintendo-gray, 15);
$super-nintendo-gray-160: get-color($super-nintendo-gray, 16);

// Brand
$super-nintendo-purple: #b5b6e4;
$super-nintendo-purple-10: get-color($super-nintendo-purple, 1);
$super-nintendo-purple-20: get-color($super-nintendo-purple, 2);
$super-nintendo-purple-30: get-color($super-nintendo-purple, 3);
$super-nintendo-purple-40: get-color($super-nintendo-purple, 4);
$super-nintendo-purple-50: get-color($super-nintendo-purple, 5);
$super-nintendo-purple-60: get-color($super-nintendo-purple, 6);
$super-nintendo-purple-70: get-color($super-nintendo-purple, 7);
$super-nintendo-purple-80: get-color($super-nintendo-purple, 8);
$super-nintendo-purple-90: get-color($super-nintendo-purple, 9);
$super-nintendo-purple-100: get-color($super-nintendo-purple, 10);
$super-nintendo-purple-110: get-color($super-nintendo-purple, 11);
$super-nintendo-purple-120: get-color($super-nintendo-purple, 12);
$super-nintendo-purple-130: get-color($super-nintendo-purple, 13);
$super-nintendo-purple-140: get-color($super-nintendo-purple, 14);
$super-nintendo-purple-150: get-color($super-nintendo-purple, 15);
$super-nintendo-purple-160: get-color($super-nintendo-purple, 16);

// Accent
$super-nintendo-indigo: #4f43ae;
$super-nintendo-indigo-10: get-color($super-nintendo-indigo, 1);
$super-nintendo-indigo-20: get-color($super-nintendo-indigo, 2);
$super-nintendo-indigo-30: get-color($super-nintendo-indigo, 3);
$super-nintendo-indigo-40: get-color($super-nintendo-indigo, 4);
$super-nintendo-indigo-50: get-color($super-nintendo-indigo, 5);
$super-nintendo-indigo-60: get-color($super-nintendo-indigo, 6);
$super-nintendo-indigo-70: get-color($super-nintendo-indigo, 7);
$super-nintendo-indigo-80: get-color($super-nintendo-indigo, 8);
$super-nintendo-indigo-90: get-color($super-nintendo-indigo, 9);
$super-nintendo-indigo-100: get-color($super-nintendo-indigo, 10);
$super-nintendo-indigo-110: get-color($super-nintendo-indigo, 11);
$super-nintendo-indigo-120: get-color($super-nintendo-indigo, 12);
$super-nintendo-indigo-130: get-color($super-nintendo-indigo, 13);
$super-nintendo-indigo-140: get-color($super-nintendo-indigo, 14);
$super-nintendo-indigo-150: get-color($super-nintendo-indigo, 15);
$super-nintendo-indigo-160: get-color($super-nintendo-indigo, 16);
