$code-font-family: $font-family-mono !default;

code {
  border: $border-width $border-style;
  border-radius: $border-radius;
  color: inherit;
  font: inherit;
  font-family: $code-font-family;
  font-size: $font-size-small;
  font-weight: 500;
  padding-left: $spacing-tiny;
  padding-right: $spacing-tiny;
}