$code-font-family: $font-family-mono !default;

code {
  background-color: rgba(64, 64, 64, 0.08);
  // border: 1px solid currentColor;
  border-radius: $border-radius;
  color: inherit;
  font: inherit;
  font-family: $code-font-family;
  font-size: $font-size-small;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}