$html-font-family: $font-family-sans !default;
$html-font-size: $font-size !default;
$html-line-height: 1.5 !default;

html {
  background-color: #f0f0f0;
  font-family: $html-font-family;
  font-size: $html-font-size;
  color: #404040;
  line-height: $html-line-height;
}
