$html-background-color: $page-background-color !default;
$html-color: $page-text-color !default;
$html-font-family: $font-family-sans !default;
$html-font-size: $font-size !default;
$html-line-height: 1.5 !default;

@if $enable-css-variables and $enable-root-css-variables {
  :root {
    --html-background-color: var(--page-background-color);
    --html-color: var(--page-text-color);
    --html-font-size: var(--font-size);
    --html-line-height: 1.5;
  }
}

html {
  @include var("background-color", "--html-background-color", $html-background-color);
  @include var("color", "--html-color", $html-color);
  font-family: $html-font-family;
  @include var("font-size", "--html-font-size", $html-font-size);
  font-smoothing: antialiased;
  @include var("line-height", "--html-line-height", $html-line-height);
  line-height: $html-line-height;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
