$pre-padding-bottom: $spacing-unit !default;
$pre-padding-left: $spacing-unit !default;
$pre-padding-right: $spacing-unit !default;
$pre-padding-top: $spacing-unit !default;

pre {
  @include block;
  background-color: #605868;
  border-radius: 0.125rem;
  color: white;
  font-size: 0.875rem;
  overflow: auto;
  padding-bottom: $pre-padding-bottom;
  padding-left: $pre-padding-left;
  padding-right: $pre-padding-right;
  padding-top: $pre-padding-top;
}