$pre-padding-bottom: 0.5rem !default;
$pre-padding-left: 0.5rem !default;
$pre-padding-right: 0.5rem !default;
$pre-padding-top: 0.5rem !default;

pre {
  --pre-background-color: var(--color);
  --pre-color: var(--background-color);
  @include block;
  @include var("background-color", "--pre-background-color", $component-text-color);
  border-radius: 0.125rem;
  @include var("color", "--pre-color", $component-background-color);
  overflow: auto;
  padding-bottom: $pre-padding-bottom;
  padding-left: $pre-padding-left;
  padding-right: $pre-padding-right;
  padding-top: $pre-padding-top;
}