$pre-padding-bottom: 0.5rem !default;
$pre-padding-left: 0.5rem !default;
$pre-padding-right: 0.5rem !default;
$pre-padding-top: 0.5rem !default;

pre {
  @include block;
  background-color: #605868;
  border-radius: 0.125rem;
  color: white;
  overflow: auto;
  padding-bottom: $pre-padding-bottom;
  padding-left: $pre-padding-left;
  padding-right: $pre-padding-right;
  padding-top: $pre-padding-top;
}