$grey-50: #5a7895;
$grey-40: mix(white, $grey-50, 20%);
$grey-30: mix(white, $grey-40, 20%);
$grey-20: mix(white, $grey-30, 20%);
$grey-10: mix(white, $grey-20, 20%);
$grey-08: mix(white, $grey-10, 20%);
$grey-06: mix(white, $grey-08, 20%);
$grey-04: mix(white, $grey-06, 20%);
$grey-02: mix(white, $grey-04, 20%);
$grey-60: mix(black, $grey-50, 20%);
$grey-70: mix(black, $grey-60, 20%);
$grey-80: mix(black, $grey-70, 20%);
$grey-90: mix(black, $grey-80, 20%);

$green-50: #0a8566;
$green-40: mix(white, $green-50, 20%);
$green-30: mix(white, $green-40, 20%);
$green-20: mix(white, $green-30, 20%);
$green-10: mix(white, $green-20, 20%);
$green-60: mix(black, $green-50, 20%);
$green-70: mix(black, $green-60, 20%);
$green-80: mix(black, $green-70, 20%);
$green-90: mix(black, $green-80, 20%);

$accent-01: rgb(128, 255, 192);
$accent-02: rgb(120, 240, 180);
$accent-03: rgb(112, 224, 168);
$accent-04: rgb(104, 208, 156);
$accent-05: rgb(96, 192, 144);
$accent-06: rgb(88, 176, 132);
$accent-07: rgb(80, 160, 120);
$accent-08: rgb(72, 144, 108);
$accent-09: rgb(64, 128, 96);
$accent-10: rgb(56, 112, 84);
$accent-11: rgb(48, 96, 72);
$accent-12: rgb(40, 80, 60);
$accent-13: rgb(32, 64, 48);
$accent-14: rgb(24, 48, 36);
$accent-15: rgb(16, 32, 24);
$accent-16: rgb(8, 16, 12);