.u-font-size\+ {
  font-size: 1.125em;
}

.u-font-size\+\+ {
  font-size: 1.25em;
}

.u-font-size\- {
  font-size: 0.875em;
}

.u-font-size\-\- {
  font-size: 0.75em;
}

.u-text-align-right {
  text-align: right;
}