/**
 * Margin Utilities
 * Use only bottom and left margins to prevent margin collapse.
 */
.u-margin {
  margin: 0.5rem;
}

.u-margin-bottom {
  margin-bottom: 0.5rem;
}

.u-margin-bottom\+ {
  margin-bottom: 1rem;
}

.u-margin-bottom\+\+ {
  margin-bottom: 2rem;
}

.u-margin-left {
  margin-left: 0.5rem;
}

.u-margin-none {
  margin: 0 !important;
}

/**
 * Padding Utilities
 */
.u-padding {
  padding: 0.5rem;
}

.u-padding-bottom {
  padding-bottom: 0.5rem;
}

.u-padding-left {
  padding-left: 0.5rem;
}

.u-padding-none {
  padding: 0;
}

.u-padding-right {
  padding-right: 0.5rem;
}

.u-padding-top {
  padding-top: 0.5rem;
}
