.t-northern-lights {
  --nav-bar-background-color: var(--background-color-component);
  --nav-bar-color: var(--color-component);
  
  --nav-bar-background-color-brand: var(--background-color-brand);
  --nav-bar-color-brand: var(--color-brand);
}