// Borealis Tag Variables

.t-northern-lights {
  --tag-background-color: var(--background-color-component);
  --tag-border-color: var(--border-color-component);
  --tag-color: var(--color-component);
  
  --tag-background-color-brand: var(--background-color-brand);
  --tag-border-color-brand: transparent;
  --tag-color-brand: var(--color-brand);
  
  --tag-background-color-accent: var(--background-color-accent);
  --tag-border-color-accent: transparent;
  --tag-color-accent: var(--color-accent);
}