@import "../../node_modules/@lou-frey-institute/aurora-palettes/src/northern-lights";

.t-northern-lights {
  --page-background-color: #f8f8f8;
  --page-border-color: #{mix(#f8f8f8, #484848, 90%)};
  --page-text-color: #484848;
  
  --container-background-color: white;
  --container-border-color: #e8e0f0;
  --container-text-color: #484050;
  
  --component-background-color: #484050;
  --component-border-color: #{mix(#484050, #e0e8f0)};
  --component-text-color: #e0e8f0;
  
  --brand-background-color: #60f0c0;
  --brand-border-color: #{mix(#60f0c0, #406060)};
  --brand-text-color: #406060;

  --accent-background-color: #c0a0e0;
  --accent-border-color: #{mix(#c0a0e0, #604060)};
  --accent-text-color: #604060;

  --disabled-background-color: #e0e8f0;
  --disabled-border-color: #b8b0c0;
  --disabled-text-color: #383040;
}

// DARK MODE
.t-northern-lights.is-dark {
  --page-background-color: #282030;
  --page-border-color: #383040;
  --page-text-color: #e8e0f0;
    
  --container-background-color: #383040;
  --container-border-color: #484050;
  --container-text-color: #f0e8f8;

  --component-background-color: #e0e8f0;
  --component-border-color: #c0c8d0;
  --component-text-color: #484050;

  --disabled-background-color: #484050;
  --disabled-border-color: #686070;
  --disabled-text-color: #888090;
}

// Overrides `background-color` and `color` if theme can't be set on the `html`
// element.
.t-northern-lights.has-overrides {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}
