$button-padding-bottom: $spacing-unit !default;
$button-padding-left: $spacing-unit !default;
$button-padding-right: $spacing-unit !default;
$button-padding-top: $spacing-unit !default;

/**
 * These are the standard button styles that all other button states inherit.
 */
.c-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: $spacing-unit * 0.25;
  border-style: solid;
  border-width: $spacing-unit * 0.25;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding-bottom: $button-padding-bottom;
  padding-left: $button-padding-left;
  padding-right: $button-padding-right;
  padding-top: $button-padding-top;
}

/**
 * Button color variations
 */
.c-button.is-default {
  background-color: mediumturquoise;
  border-color: currentColor;
}

/**
 * Button size variations
 */
