// Card variables.
$card-background-color: $background-color-component !default;
$card-border-color: transparent !default;
$card-border-radius: $border-radius !default;
$card-border-style: $border-style !default;
$card-border-width: $border-width !default;
$card-color: $color-default !default;

// Card CSS properties.
@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --card-background-color: var(--background-color-default);
    --card-border-color: var(--border-color);
    --card-border-radius: var(--border-radius);
    --card-border-style: var(--border-style);
    --card-border-width: var(--border-width);
    --card-color: var(--color-default);
  }
}

// Card styles.
.c-card {
  @include css-property-fallback("background-color", "--card-background-color", $card-background-color);
  border-radius: 0.125rem;
  @include css-property-fallback("border-color", "--card-border-color", $card-border-color);
  @include css-property-fallback("border-radius", "--card-border-radius", $card-border-radius);
  @include css-property-fallback("border-style", "--card-border-style", $card-border-style);
  @include css-property-fallback("border-width", "--card-border-width", $card-border-width);
  border-width: 0.125rem;
  @include css-property-fallback("color", "--card-color", $card-color);
  height: 100%;
}

.c-card.is-inverted {
  @include css-property-fallback("background-color", "--card-color", $card-color);
  @include css-property-fallback("color", "--card-background-color", $card-background-color);
}

// Card Color Variants

// Accent variables.
$card-background-color-accent: $background-color-accent !default;
$card-border-color-accent: transparent !default;
$card-color-accent: $color-accent !default;

// Accent CSS properties.
@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --card-background-color-accent: var(--background-color-accent);
    --card-border-color-accent: transparent;
    --card-color-accent: var(--color-accent);
  }
}

// Accent styles.
.c-card.is-accent {
  @include css-property-fallback("background-color", "--card-background-color-accent", $card-background-color-accent);
  @include css-property-fallback("border-color", "--card-border-color-accent", $card-border-color-accent);
  @include css-property-fallback("color", "--card-color-accent", $card-color-accent);
}

// Accent inverted.
.c-card.is-accent.is-inverted {
  @include css-property-fallback("background-color", "--card-color-accent", $card-color-accent);
  @include css-property-fallback("color", "--card-background-color-accent", $card-background-color-accent);
}

// Brand variables.
$card-background-color-brand: $background-color-brand !default;
$card-border-color-brand: transparent !default;
$card-color-brand: $color-brand !default;

// Brand CSS properties.
@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --card-background-color-brand: var(--background-color-brand);
    --card-border-color-brand: transparent;
    --card-color-brand: var(--color-brand);
  }
}

// Brand styles.
.c-card.is-brand {
  @include css-property-fallback("background-color", "--card-background-color-brand", $card-background-color-brand);
  @include css-property-fallback("border-color", "--card-border-color-brand", $card-border-color-brand);
  @include css-property-fallback("color", "--card-color-brand", $card-color-brand);
}

// Accent inverted.
.c-card.is-brand.is-inverted {
  @include css-property-fallback("background-color", "--card-color-brand", $card-color-brand);
  @include css-property-fallback("color", "--card-background-color-brand", $card-background-color-brand);
}

.c-card-media {
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  margin: $card-border-width * -1;
  margin-bottom: 0;
  overflow: hidden;
  padding-top: 10rem + strip-unit($card-border-width);
  position: relative;
}

.c-card-media > img {
  position: absolute;
  top: -25%;
  left: -25%;
}

.c-card-body {
  padding-bottom: 0.5rem - 0.125rem;
  padding-left: 1rem - 0.125rem;
  padding-right: 1rem - 0.125rem;
  padding-top: 0.5rem - 0.125rem;
}