.card {
  border-color: transparent;
  @include var("border-radius", "--border-radius", $border-radius);
  @include var("border-style", "--border-style", $border-style);
  @include var("border-width", "--border-width", $border-width);
  height: 100%;
}

.card,
.card.is-default {
  @include var("background-color", "--container-background-color", $container-background-color);
  @include var("color", "--container-text-color", $container-text-color);
}

.card.is-inverted {
  @include var("background-color", "--container-text-color", $container-text-color);
  @include var("color", "--container-background-color", $container-background-color);
}

.card.is-brand {
  @include var("background-color", "--brand-background-color", $brand-background-color);
  @include var("color", "--brand-text-color", $brand-text-color);
}

.card.is-brand.is-inverted {
  @include var("background-color", "--brand-text-color", $brand-text-color);
  @include var("color", "--brand-background-color", $brand-background-color);
}

.card.is-accent {
  @include var("background-color", "--accent-background-color", $accent-background-color);
  @include var("color", "--accent-text-color", $accent-text-color);
}

.card.is-accent.is-inverted {
  @include var("background-color", "--accent-text-color", $accent-text-color);
  @include var("color", "--accent-background-color", $accent-background-color);
}

.card.is-hollow,
.card.is-hollow.is-default {
  background-color: transparent;
  border-color: currentColor;
  color: inherit;
}

.card.is-hollow.is-brand {
  @include var("border-color", "--brand-background-color", $brand-background-color);
}

.card.is-hollow.is-accent {
  @include var("border-color", "--accent-background-color", $accent-background-color);
}

.card.has-outline,
.card.has-outline.is-default {
  @include var("border-color", "--container-border-color", $container-border-color);
}

.card.has-outline.is-brand {
  @include var("border-color", "--brand-border-color", $brand-border-color);
}

.card.has-outline.is-accent {
  @include var("border-color", "--accent-border-color", $accent-border-color);
}

.card-media {
  margin: -1 * $border-width;
}

.card-media:first-child {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.card-media > img {
  display: block;
  height: auto;
  width: 100%;
}

.card-body {
  padding-bottom: $spacing-medium-border;
  padding-left: $spacing-medium-border;
  padding-right: $spacing-medium-border;
  padding-top: $spacing-medium-border;
}