.input {
  border-color: transparent;
  @include var("border-radius", "--border-radius", $border-radius);
  @include var("border-style", "--border-style", $border-style);
  @include var("border-width", "--border-width", $border-width);
  display: block;
  font: inherit;
  margin: 0;
  width: 100%;
}

.input,
.input.is-default {
  @include var("background-color", "--component-background-color", $component-background-color);
  @include var("color", "--component-text-color", $component-text-color);
}

.input.is-invert,
.input.is-invert.is-default {
  @include var("background-color", "--component-text-color", $component-text-color);
  @include var("color", "--component-background-color", $component-background-color);
}

.input.is-error {
  @include var("background-color", "--error-background-color", $error-background-color);
  @include var("color", "--error-text-color", $error-text-color);
}

.input.is-invert.is-error {
  @include var("background-color", "--error-text-color", $error-text-color);
  @include var("color", "--error-background-color", $error-background-color);
}

.input.is-hollow,
.input.is-hollow.is-default {
  background-color: transparent;
  border-color: currentColor;
  color: inherit;
}

.input.is-hollow.is-error {
  @include var("border-color", "--error-background-color", $error-background-color);
}

.input.has-outline,
.input.has-outline.is-default {
  @include var("border-color", "--component-border-color", $component-border-color);
}


.input,
.input.is-medium {
  @include var("padding-bottom", "--spacing-medium", $spacing-small-border);
  @include var("padding-left", "--spacing-medium", $spacing-medium-border);
  @include var("padding-right", "--spacing-medium", $spacing-medium-border);
  @include var("padding-top", "--spacing-medium", $spacing-small-border);
}