$list-item-border-color: $border-color-component !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --list-item-border-color: var(--border-color-component);
  }
}

.list-item {
  @include css-property-fallback("border-color", "--list-item-border-color", $list-item-border-color);
  border-style: $border-style;
  border-width: 0;
  cursor: pointer;
  padding: $spacing-small $spacing;
}

.list-item:not(:last-child) {
  border-bottom-width: $border-width;
}