// Remove default list styling.
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  @include var("background-color", "--container-background-color", $container-background-color);
  border-color: transparent;
  @include var("border-radius", "--border-radius", $border-radius);
  @include var("border-style", "--border-style", $border-style);
  @include var("border-width", "--border-width", $border-width);
  @include var("color", "--container-text-color", $container-text-color);
  padding-bottom: $spacing-small;
  padding-top: $spacing-small;
}

.menu.is-floating {
  @include var("border-color", "--container-border-color", $container-border-color);
  position: absolute;
  overflow: auto;
  box-shadow: $shadow;
}

.menu.is-full-width {
  width: 100%;
}

.menu.is-hidden {
  margin-top: 0;
  opacity: 0;
  transition: margin-top 80ms, opacity 80ms, visibility 80ms;
  visibility: hidden;
}

.menu.is-open {
  margin-top: 0.5rem;
  opacity: 1;
  transition: margin-top 80ms, opacity 80ms, visibility 80ms;
  visibility: visible;
  z-index: 1000;
}