// Remove default list styling.
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Default variables.
$menu-background-color: $background-color-component !default;
$menu-border-color: $border-color-component !default;
$menu-border-radius: $border-radius !default;
$menu-border-style: $border-style !default;
$menu-border-width: $border-width !default;
$menu-color: $color-component !default;

// CSS variables.
@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --menu-background-color: var(--background-color-component);
    --menu-border-color: var(--border-color-component);
    --menu-border-radius: var(--border-radius);
    --menu-border-style: var(--border-style);
    --menu-border-width: var(--border-width);
    --menu-color: var(--color-component);
  }
}

// Default styles.
.menu {
  @include css-property-fallback("background-color", "--menu-background-color", $menu-background-color);
  @include css-property-fallback("border-color", "--menu-border-color", $menu-border-color);
  @include css-property-fallback("border-radius", "--menu-border-radius", $menu-border-radius);
  @include css-property-fallback("border-style", "--menu-border-style", $menu-border-style);
  @include css-property-fallback("border-width", "--menu-border-width", $menu-border-width);
  @include css-property-fallback("color", "--menu-color", $menu-color);
}

.menu.is-floating {
  position: absolute;
}

.menu.is-full-width {
  width: 100%;
}

.menu.is-hidden {
  margin-top: 0;
  opacity: 0;
  transition: margin-top 80ms, opacity 80ms, visibility 80ms;
  visibility: hidden;
}

.menu.is-open {
  margin-top: 0.5rem;
  opacity: 1;
  transition: margin-top 80ms, opacity 80ms, visibility 80ms;
  visibility: visible;
  z-index: 1000;
}

.menu[tabindex="-1"]:focus {
  outline: none;
}