$nav-bar-background-color: #aee !default;

$nav-bar-padding-bottom: $spacing-unit !default;
$nav-bar-padding-left: $spacing-unit !default;
$nav-bar-padding-right: $spacing-unit !default;
$nav-bar-padding-top: $spacing-unit !default;

.c-nav-bar {
  background-color: $nav-bar-background-color;
}

.c-nav-bar.is-fixed {
  position: fixed;
}
