.notification {
  @include block;
  border-radius: $border-radius;
  border-style: $border-style;
  border-width: $border-width;
}

.notification,
.notification.is-default {
  @include var("background-color", "--container-background-color", $container-background-color);
  border-color: transparent;
  @include var("color", "--container-text-color", $container-text-color);
}

.notification.is-info {
  @include var("background-color", "--info-background-color", $info-background-color);
  @include var("color", "--info-text-color", $info-text-color);
}

.notification.is-success {
  @include var("background-color", "--success-background-color", $success-background-color);
  @include var("color", "--success-text-color", $success-text-color);
}

.notification.is-warning {
  @include var("background-color", "--warning-background-color", $warning-background-color);
  @include var("color", "--warning-text-color", $warning-text-color);
}

.notification.is-error {
  @include var("background-color", "--error-background-color", $error-background-color);
  @include var("color", "--error-text-color", $error-text-color);
}

.notification.is-hollow,
.notification.is-hollow.is-default {
  background-color: transparent;
  border-color: currentColor;
  color: inherit;
}

.notification.is-hollow.is-info {
  @include var("border-color", "--info-background-color", $info-background-color);
}

.notification.is-hollow.is-success {
  @include var("border-color", "--success-background-color", $success-background-color);
}

.notification.is-hollow.is-warning {
  @include var("border-color", "--warning-background-color", $warning-background-color);
}

.notification.is-hollow.is-error {
  @include var("border-color", "--error-background-color", $error-background-color);
}

.notification.has-outline,
.notification.has-outline.is-default {
  @include var("border-color", "--container-border-color", $container-border-color);
}

.notification.has-outline.is-info {
  @include var("border-color", "--info-border-color", $info-border-color);
}

.notification.has-outline.is-success {
  @include var("border-color", "--success-border-color", $success-border-color);
}

.notification.has-outline.is-warning {
  @include var("border-color", "--warning-border-color", $warning-border-color);
}

.notification.has-outline.is-error {
  @include var("border-color", "--error-border-color", $error-border-color);
}

.notification,
.notification.is-medium {
  @include var("padding-bottom", "--spacing-small-border", $spacing-small-border);
  @include var("padding-left", "--spacing-medium-border", $spacing-medium-border);
  @include var("padding-right", "--spacing-medium-border", $spacing-medium-border);
  @include var("padding-top", "--spacing-small-border", $spacing-small-border);
}

.notification.is-large {
  @include var("font-size", "--font-size-large", $font-size-large);
  line-height: (1.5 / 1.25);
  @include var("padding-bottom", "--spacing-medium-border", $spacing-medium-border);
  @include var("padding-left", "--spacing-large-border", $spacing-large-border);
  @include var("padding-right", "--spacing-large-border", $spacing-large-border);
  @include var("padding-top", "--spacing-medium-border", $spacing-medium-border);
}

.notification.is-small {
  @include var("font-size", "--font-size-small", $font-size-small);
  line-height: (1.5 / 0.875);
  @include var("padding-bottom", "--spacing-tiny-border", $spacing-tiny-border);
  @include var("padding-left", "--spacing-small-border", $spacing-small-border);
  @include var("padding-right", "--spacing-small-border", $spacing-small-border);
  @include var("padding-top", "--spacing-tiny-border", $spacing-tiny-border);
}