.section-group {
  @include block;
}

@media all and (min-width: 960px) {
  .section-group > .section {
    border-radius: 0;
    margin: 0;
  }

  .section-group > .section.is-rounded:first-child {
    border-bottom-left-radius: $border-radius * 2;
    border-top-left-radius: $border-radius * 2;
  }

  .section-group > .section.is-rounded:last-child {
    border-bottom-right-radius: $border-radius * 2;
    border-top-right-radius: $border-radius * 2;
  }
}