// Section
// ----
// A container that differentiates itself through `background-color` and `color`
// properties. This may be useful to use in conjunction with `o-block` for
// additional padding.

$section-border-radius: 0 !default;
$section-border-style: $border-style !default;
$section-border-width: $border-width * 2 !default;

.section {
  @include block;
  border-radius: $section-border-radius;
  border-style: $section-border-style;
  border-width: $section-border-width;
}

// Solid Colors
// ----
// Sets the background color and text color for the element.

// Default
$section-background-color: $background-color-component !default;
$section-color: $color-component !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --section-background-color: var(--background-color-component);
    --section-color: var(--color-component);
  }
}

.section {
  @include css-property-fallback("background-color", "--section-background-color", $section-background-color);
  border-color: transparent;
  @include css-property-fallback("color", "--section-color", $section-color);
}

// Accent
$section-background-color-accent: $background-color-accent !default;
$section-color-accent: $color-accent !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --section-background-color-accent: var(--background-color-accent);
    --section-color-accent: var(--color-accent);
  }
}

.section.is-accent {
  @include css-property-fallback("background-color", "--section-background-color-accent", $section-background-color-accent);
  @include css-property-fallback("color", "--section-color-accent", $section-color-accent);
}

// Brand
$section-background-color-brand: $background-color-brand !default;
$section-color-brand: $color-brand !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --section-background-color-brand: var(--background-color-brand);
    --section-color-brand: var(--color-brand);
  }
}

.section.is-brand {
  @include css-property-fallback("background-color", "--section-background-color-brand", $section-background-color-brand);
  @include css-property-fallback("color", "--section-color-brand", $section-color-brand);
}

// Hollow Colors
// ----
// Sets the background color to transparent and sets border and text colors.

// Default
$section-border-color: $border-color-body !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --section-border-color: var(--border-color-body);
  }
}

.section.is-hollow {
  background-color: transparent;
  @include css-property-fallback("border-color", "--section-border-color", $section-border-color);
  color: inherit;
}

// brand
$section-border-color-brand: $border-color-brand !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --section-border-color-brand: var(--border-color-brand);
  }
}

.section.is-brand.is-hollow {
  background-color: transparent;
  @include css-property-fallback("border-color", "--section-border-color-brand", $section-border-color-brand);
  color: inherit;
}

// Variations
// ----
// Any styles that modify the base section class should go here.

// Rounded
$section-border-radius: $border-radius * 2 !default;

@if $enable-css-properties and $enable-root-css-properties {
  :root {
    --section-border-radius: calc(var(--border-radius) * 2);
  }
}

.section.is-rounded {
  @include css-property-fallback("border-radius", "--section-border-radius", $section-border-radius);
}
