.tag {
  border-color: transparent;
  border-radius: $border-radius;
  border-style: $border-style;
  border-width: $border-width;
  font-size: 0.75em;
  padding: 0.1875rem 0.375rem;
  position: relative;
  top: -0.125em;
}

.tag,
.tag.is-default {
  @include var("background-color", "--component-background-color", $component-background-color);
  @include var("color", "--component-text-color", $component-text-color);
}

.tag.is-invert,
.tag.is-default {
  @include var("background-color", "--component-text-color", $component-text-color);
  @include var("color", "--component-background-color", $component-background-color);
}

.tag.is-brand {
  @include var("background-color", "--brand-background-color", $brand-background-color);
  @include var("color", "--brand-text-color", $brand-text-color);
}

.tag.is-accent {
  @include var("background-color", "--accent-background-color", $accent-background-color);
  @include var("color", "--accent-text-color", $accent-text-color);
}

.tag.is-hollow,
.tag.is-hollow.is-default {
  background-color: transparent;
  border-color: currentColor;
  color: inherit;
}

.tag.is-hollow.is-brand {
  @include var("border-color", "--brand-background-color", $brand-background-color);
}

.tag.is-hollow.is-accent {
  @include var("border-color", "--accent-background-color", $accent-background-color);
}

.tag.has-outline,
.tag.has-outline.is-default {
  @include var("border-color", "--component-border-color", $component-border-color);
}

.tag.has-outline.is-brand {
  @include var("border-color", "--brand-border-color", $brand-border-color);
}

.tag.has-outline.is-accent {
  @include var("border-color", "--accent-border-color", $accent-border-color);
}