/**
 * Default text input styles.
 */
.c-text-input {
  --text-input-background-color: transparent;
  --text-input-border-color: var(--border-color);
  --text-input-color: var(--color);
  @include css-property-fallback("background-color", "--text-input-background-color", $color);
  @include css-property-fallback("border-color", "--text-input-border-color", $border-color);
  border-radius: 0.125rem;
  border-style: solid;
  border-width: 0.125rem;
  @include css-property-fallback("color", "--text-input-color", $background-color);
  font: inherit;
  margin: 0;
  padding-bottom: 0.5rem - 0.125rem;
  padding-left: 1rem - 0.125rem;
  padding-right: 1rem - 0.125rem;
  padding-top: 0.5rem - 0.125rem;
  
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.c-text-input[type="password"] {
  font-family: $font-family-mono;
}

/**
 * Status styles.
 */
.c-text-input.is-error {
  --text-input-background-color: transparent;
  --text-input-border-color: var(--border-color-error);
  @include css-property-fallback("background-color", "--text-input-background-color", $background-color-error);
  @include css-property-fallback("border-color", "--text-input-border-color", $border-color-error);
}