// Borealis Card CSS Properties
//
// Custom variables for cards while using the Borealis theme. If you use nested
// themes you should override the same variables in each theme to prevent
// unwanted inheritance.

.t-borealis {
  --card-background-color: var(--background-color-component);
  --card-border-color: var(--border-color-component);
  --card-color: var(--color-component);

  --card-background-color-brand: var(--background-color-brand);
  --card-border-color-brand: transparent;
  --card-color-accent: var(--color-accent);

  --card-background-color-accent: var(--background-color-accent);
  --card-border-color-accent: transparent;
  --card-color-brand: var(--color-brand);
}