.t-borealis {
  --section-background-color: var(--background-color-component);
  --section-color: var(--color-component);

  --section-background-color-brand: var(--background-color-brand);
  --section-color-brand: var(--color-brand);
}