/**
 * Example of using a simple theme on the `html` element. If you are not using
 * nested themes you can safely override only selected variable properties.
 */
.t-root-theme {
  --background-color: white;
  --background-color-action: #{darken(white, 5%)};
  --background-color-default: #404040;
  --background-color-default-action: #{darken(#404040, 5%)};
  --background-color-brand: mediumturquoise;
  --background-color-brand-action: #{darken(mediumturquoise, 5%)};
  --background-color-accent: lightcoral;
  --background-color-accent-action: #{darken(lightcoral, 5%)};
  --background-color-disabled: #{darken(white, 5%)};

  // --border-color: #{$aurora-gray-50};
  // --border-color-action: #{$aurora-gray-60};
  // --border-color-disabled: #{$aurora-gray-70};
  // --border-color-accent: #{$aurora-purple-70};
  // --border-color-brand:  #{$aurora-green-70};
  // 
  // --color: #{$aurora-gray-80};
  // --color-action: #{$aurora-gray-90};
  // --color-brand:  #{$aurora-green-80};
  // --color-brand-action:  #{$aurora-green-90};
  // --color-accent: #{$aurora-purple-80};
  // --color-accent-action: #{$aurora-purple-90};
  // --color-disabled: #{$aurora-gray-10};
}